body {
    margin: 0;
    color: azure;
}

#game-wrap {
    width: 1600px;
    height: 1240px;
    margin: auto;
    background: url(bg.jpg);
    position: relative;
}

.player-board {
    background: white;
    outline: solid 15px;
    position: absolute;
    filter: drop-shadow(20px 16px 4px black);
    border-radius: 33px;
    overflow: hidden;
}

.player-board.green {
    outline-color: #74c655;
}
.player-board.red {
    outline-color: #ae2c3a;
}
.player-board.blue {
    outline-color: #2f86da;
}
.player-board.orange {
    outline-color: #e68352;
}
.player-board.pink {
    outline-color: #ff9ad5;
}
.player-board.yellow {
    outline-color: #ffff49;
}

table {
    position: absolute;
    margin: auto;
    bottom: -1px;
    left: 626px;
    font-weight: bold;
    font-family: arial;
    font-size: 16.5px;
    color: rgb(240, 255, 255);
    z-index: 10;
}

button {
    width: 55px;
    margin: 5px;
    height: 55px;
    font-size: 32px;
    font-weight: bold;
    border-radius: 10000px;
}

div#assignment {
    position: absolute;
    top: 1000px;
    left: 100px;
    font-size: 50px;
    font-family: arial;
    width: 327px;
}

button#finished {
    position: absolute;
    right: 120px;
    bottom: 150px;
    width: 300px;
}